* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #cee5d073;
  position: fixed;
  bottom: 0;
}
