* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.box {
  width: 3.5rem;
  height: 3.5rem;
  padding: 5px;
  background-color: #2fdd92;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  flex-grow: 1;
}

.last {
  flex-grow: 2;
}
