* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  height: 50vh;
  display: flex;
  background-color: #009dae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40%;
  height: 40%;
  background-color: #c2fff9;
  border-radius: 50%;
}

.container:hover .circle {
  background-color: #ae431e;
  transition: 1s ease-in;
}
