* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  color: #34be82;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.header h1 {
  font-size: 3rem;
}
.header p {
  font-size: 1.5rem;
  margin-top: 0.75rem;
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  list-style: none;
  margin-bottom: 1.5rem;
}
.navbar li {
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.25rem;
  font-weight: italic;
  color: #2fdd92;
  background-color: #1f1d36;
  padding: 0.5rem;
}

.navbar li:first-child {
  margin-left: 7rem;
}

.main {
  display: flex;
  justify-content: center;
}
.main article {
  margin-right: 5rem;
  font-size: 1.3rem;
}
aside {
  width: 20%;
  float: right;
}

.page {
  width: 90vw;
  text-align: center;
}
